.inicio {
    width: 90%;
    height: 40%;
    margin: 5%;
}

.button {
    min-width: 20%;
    text-align: center;
    margin: 2% 0;
}

.btn-yes {
    background-color: #009688;
}

.btn-no {
    background-color: #F44336
}

.page__content {
    margin: 3%;
}

strong {
    width: 100%;
    text-align: center;
    display: block;
}

